In [1]:
import numpy as np
import pandas as pd

# 프로필 데이터를 얻어왔다고 가정
user_grade = pd.DataFrame(np.random.randint(1,11,size=(180,7)) , index=range(1,181), columns=['웹','머신러닝','통계','딥러닝','알고리즘','NLP','디자인'])

# 7개의 과목에 대한 총점 평균
user_grade['총점평균'] = np.around(user_grade.mean(axis=1),2)
# 데이터 분석 점수
user_grade['데이터분석'] = user_grade.loc[:,['통계','머신러닝']].mean(axis=1)
# 모델링 점수
user_grade['모델링'] = user_grade.loc[:,['머신러닝','딥러닝','알고리즘','NLP']].mean(axis=1)

display(user_grade)

      웹  머신러닝  통계  딥러닝  알고리즘  NLP  디자인  총점평균  데이터분석   모델링
1     7     3   5    8     2    9    9  6.14    4.0  5.50
2     7    10  10    1     8    3    2  5.86   10.0  5.50
3     1     5   1    9     1    5   10  4.57    3.0  5.00
4     6     4  10    2     9   10    4  6.43    7.0  6.25
5    10     2   2    7     5    4    1  4.43    2.0  4.50
..   ..   ...  ..  ...   ...  ...  ...   ...    ...   ...
176   6     1   4    5     1   10    1  4.00    2.5  4.25
177   4     3   3   10     9    6    2  5.29    3.0  7.00
178   2     2   8    6     2   10    1  4.43    5.0  5.00
179  10     1   6    4     9    9    5  6.29    3.5  5.75
180   5     6   1    7     1    1    2  3.29    3.5  3.75

[180 rows x 10 columns]

In [2]:
# 실제 코드에는 쓰이지 않을 랜덤값 생성 함수

import random

def get_heart_list(x):
    heart_list = [0 for _ in range(0,x)]
    for _ in range(x):
        rand_idx = random.randint(0,x-1)
        rand_point = random.randint(0,10)
        heart_list[rand_idx] += rand_point
        if sum(heart_list) >= 10:
            heart_list[rand_idx] -= rand_point
            break
    heart_list[random.randint(0,x-1)] += 10 - sum(heart_list)
    return heart_list

def get_all_heart_list(x, y):
    all_list = []
    for _ in range(0, y):
        all_list.append(get_heart_list(x))
    return np.array(all_list)

In [3]:
user_hope_course = pd.DataFrame(get_all_heart_list(13, 180) , index=range(1,181), columns=['통계','NLP','웹','딥러닝','머신러닝','알고리즘','디자인','기초파이썬','데이터분석','음성인식','컴퓨터비전','추천시스템','강화학습'])
display(user_hope_course)

     통계  NLP  웹  딥러닝  머신러닝  알고리즘  디자인  기초파이썬  데이터분석  음성인식  컴퓨터비전  추천시스템  강화학습
1     0    0  0    0     0     0    0      0      0     0      1      5     4
2     5    0  0    0     5     0    0      0      0     0      0      0     0
3     0    0  9    0     0     0    0      0      0     0      1      0     0
4     0    4  0    0     0     0    0      4      2     0      0      0     0
5     7    0  0    0     1     0    0      0      0     2      0      0     0
..   ..  ... ..  ...   ...   ...  ...    ...    ...   ...    ...    ...   ...
176   7    0  0    0     0     0    0      0      0     3      0      0     0
177   1    0  1    4     0     1    1      0      0     0      0      2     0
178   0    0  0    0     0     0    0      9      1     0      0      0     0
179   0    7  0    1     0     1    0      0      0     0      0      1     0
180   0    0  0    3     0     0    4      0      0     3      0      0     0

[180 rows x 13 columns]

In [27]:
def get_not_zero_hope_course(input_num):
    # 스터디 과목중 하트를 하나라도 준 과목들 리스트 리턴하는 함수
    return user_hope_course.loc[input_num][user_hope_course.loc[input_num] != 0].index.tolist()

def course_to_ability(course_list):
    # 스터디 과목 리스트를 받아 그에 맞는 성적으로 매칭, 리스트로 정리해 리턴하는 함수
    ablility = []
    for course in course_list:
        if course in ['음성인식','컴퓨터비전','추천시스템','강화학습']:
            if '모델링' not in ablility:
                ablility.append('모델링')
        elif course == '기초파이썬':
            if '총점평균' not in ablility:
                ablility.append('총점평균')
        else:
            if course not in ablility:
                ablility.append(course)
    return ablility

In [32]:
def get_grade_for_hope_course(input_num):
    # 사용자 번호를 받아 해당 사용자가 하트를 준 스터디과목만 골라
    # 전체 사용자의 해당 과목 성적을 리턴하는 함수
    necessary_ability_list = course_to_ability(get_not_zero_hope_course(input_num))
    return user_grade[necessary_ability_list]
get_grade_for_hope_course(1)

      모델링
1    5.50
2    5.50
3    5.00
4    6.25
5    4.50
..    ...
176  4.25
177  7.00
178  5.00
179  5.75
180  3.75

[180 rows x 1 columns]

In [33]:
def get_grade_sub_for_hope_course(input_num):
    # 사용자 번호를 받아 해당 사용자가 하트를 준 스터디과목만 골라 정리하고
    # 전체성적에서 사용자의 성적을 뺀 절대값을 리턴하는 함수
    grade_sub_only_hope_course = np.abs(get_grade_for_hope_course(input_num) - get_grade_for_hope_course(input_num).loc[input_num]).mean(axis=1)
    return grade_sub_only_hope_course
get_grade_sub_for_hope_course(1)

1      0.00
2      0.00
3      0.50
4      0.75
5      1.00
       ...
176    1.25
177    1.50
178    0.50
179    0.25
180    1.75
Length: 180, dtype: float64

In [34]:
from sklearn.metrics.pairwise import cosine_similarity

hope_course_similarity = cosine_similarity(user_hope_course, user_hope_course)

In [35]:
def get_info(input_num, std_num):
    print("[프로필 성적]")
    grade_for_hope_course = get_grade_for_hope_course(std_num)
    for i in range(len(grade_for_hope_course.loc[input_num])):
        print(grade_for_hope_course.loc[input_num].index[i], grade_for_hope_course.loc[input_num][i], end=" ")
    print("\n[희망 스터디 과목]")
    hope_course = user_hope_course[get_not_zero_hope_course(std_num)].loc[input_num]
    for i in range(len(hope_course)):
        print(hope_course.index[i], hope_course[i], end=" ")
    print()
get_info(1,1)

[프로필 성적]
모델링 5.5
[희망 스터디 과목]
컴퓨터비전 1 추천시스템 5 강화학습 4

In [38]:
input_num = int(input())

grade_subs = get_grade_sub_for_hope_course(input_num) * 0.1
grade_similarity = cosine_similarity(get_grade_for_hope_course(input_num), get_grade_for_hope_course(input_num))

evaluation_value = grade_subs - hope_course_similarity[input_num-1] - grade_similarity[input_num-1]
top10 = evaluation_value.sort_values()[:10].index.tolist()

print("===========내성적===========")
get_info(input_num, input_num)
for idx, value in enumerate(top10):
    print(f"===========추천도{idx}순위===========")
    get_info(value, input_num)

===========내성적===========
[프로필 성적]
모델링 5.5
[희망 스터디 과목]
컴퓨터비전 1 추천시스템 5 강화학습 4
===========추천도0순위===========
[프로필 성적]
모델링 5.5
[희망 스터디 과목]
컴퓨터비전 1 추천시스템 5 강화학습 4
===========추천도1순위===========
[프로필 성적]
모델링 5.0
[희망 스터디 과목]
컴퓨터비전 0 추천시스템 4 강화학습 6
===========추천도2순위===========
[프로필 성적]
모델링 4.5
[희망 스터디 과목]
컴퓨터비전 0 추천시스템 3 강화학습 7
===========추천도3순위===========
[프로필 성적]
모델링 6.0
[희망 스터디 과목]
컴퓨터비전 0 추천시스템 7 강화학습 0
===========추천도4순위===========
[프로필 성적]
모델링 7.25
[희망 스터디 과목]
컴퓨터비전 0 추천시스템 2 강화학습 8
===========추천도5순위===========
[프로필 성적]
모델링 5.75
[희망 스터디 과목]
컴퓨터비전 0 추천시스템 4 강화학습 1
===========추천도6순위===========
[프로필 성적]
모델링 7.25
[희망 스터디 과목]
컴퓨터비전 1 추천시스템 7 강화학습 0
===========추천도7순위===========
[프로필 성적]
모델링 4.75
[희망 스터디 과목]
컴퓨터비전 3 추천시스템 4 강화학습 0
===========추천도8순위===========
[프로필 성적]
모델링 6.0
[희망 스터디 과목]
컴퓨터비전 0 추천시스템 0 강화학습 9
===========추천도9순위===========
[프로필 성적]
모델링 4.75
[희망 스터디 과목]
컴퓨터비전 2 추천시스템 4 강화학습 0